/* /* .popup-datatable {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    width: 600px;
    margin: 30px auto;
    background-color: #fff;
  }




@media (min-width: 768px){
.modal-dialog {
  width: auto;
  margin: 10px;
}
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as desired */
   z-index: 9999;
}  

/* 
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.close-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    
}
.close-button:hover {
  color: #333;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
} */

/* .form-control {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */

@media  (min-width: 768px){
  .popup-datatable {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
      background-color: #fff;
    background-clip: padding-box;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 9999;
  overflow: auto;
}

/* .popup-datatable {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
} */
.popup-datatable {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  width: 60%;
  margin: 30px auto;
  background-color: #fff;
 
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}



.modal-title {
  font-size: 20px;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}


.form-group{
  margin-bottom: 6px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.form-group input{
  width: 97% !important;
  height: 20px !important;
}


.popup-datatable .form-group input,
.popup-datatable .form-group select {
  width: 100% ;
  height: 36px ;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  margin-left: 10px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger:hover,
.btn-primary:hover {
  opacity: 0.8;
}

.modal-body{
  padding:15px;
  padding-right:30px;
}
.modal-footer{
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.form-control{
  box-shadow: inset 0 2px 0 rgba(0,0,0,.075);
}

/* Sort css */

.checkbox-container{
  margin-bottom: 15px;
}

.checkbox, .radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.toolHelpLink {
   padding-top: 10px; 
}
.btn {
  padding: 8px 12px 7px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857143;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #004358;
  border-color: #00303f;
  /* margin-left: 5px; */
}

.btn, .navbar {
  border-width: 0 1px 4px;
}
.btn-default {
  color: #555;
  background-color: #eee;
  border-color: #e2e2e2;
}
.leftColumnSetting, .leftColumnSetting{

  width: 48%;
  float: left;
  
}
.leftColumnSettingList .rightColumnSettingList{
background: #fff;
    width: 99%;
    height: 100px;
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow-y: auto;
    padding: 5px;
}
li.blockItem {
  color: #fff;
  font-weight: bold;
  display: block;
  border-radius: 8px;
  background-color: #5c8ab7;
  overflow: hidden;
  margin: 3px;
}
.btn-danger {
  color: #fff;
  background-color: #d40000;
  border-color: #b00;
}
.image-wrapper {
  display: flex;
  align-items: center;
}

.image-label {
  margin-left: 10px;
  font-weight: bold;
}
.additional-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
}

.additional-input label {
  font-weight: bold;
}

.additional-input select,
.additional-input input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  transition: border-color 0.3s ease;
}

.additional-input select:focus,
.additional-input input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.additional-input:focus-within {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.additional-input button {
  margin-top: 10px;
}
