html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* height: 100vh; */
  width: 100vw;
  position: absolute;

}

.chart {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 1px solid black;
  /* box-sizing: border-box;
  padding: 1em; */
  font-size: 1.5em;
  

}


.Bar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height:200px;
  width:300px;
}

.Line {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.Pie {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

}

.Doughnut {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

}

.chart-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.pieDoughnut {
  margin: auto;

  width: 280px;
  /* set a smaller width */
  height: 280px;
  /* set a smaller height */
}

.doughnut,
.pie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}
.navbar {
display:flex;
justify-content: space-between;
background: gray;
padding: 1px 1px;
margin-bottom: 10px;
height : 55px;
}
.querytree_logo {
  width: 50px;
  height: 50px;
  float: left;
  padding: 14px 15px;
  margin: -10px;;
} 
.navbar-brand {
  float: left;
  padding: 14px 15px;
  font-size: 20px;
  line-height: 22px;
  height: 50px;
  width:50px;
  text-align: left;
  margin-left: 8px;
}
.barChart{
  height: 200px;
  width:200px;
}

